@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Raleway", sans-serif;
}

body {
  background: #212223;
}

h1, h4, p, a {
  color: #ebf6ff;
  text-decoration: none;
}

ul {
  list-style-type: none;
}

.btn {
  padding: 16px 32px;
  font-size: 1rem;
  text-transform: uppercase;
  background: #CD3500;
  color: #ebf6ff;
  border: 1px solid #ebf6ff;
  font-weight: 600;
  cursor: pointer;
}

.btn-light {
  background: transparent;
  color: #ebf6ff;
}

.btn:hover {
  background: #A8B3BB;
  color: #ebf6ff;
  transition: 0.3s;
}